

  <nav class="nav1">
    <ul class="navul">
        <li class="navli"><a href="#home" class="nava">Home</a></li>
        <li class="navli"><a href="#about" class="nava">About</a></li>
        <li class="navli"><a href="#contact" class="nava">Contact</a></li>
    </ul>
</nav>
  
  <div class="container">
    <div class="left">
      <button class="fetchbtn">Fetch Users</button>
    </div>
    <div class="center">
         <ul>
        <li class="contentli" *ngFor="let user of users">{{ user }}</li>
      </ul> 
    </div>
    <div class="right"></div>
</div>